.upContainer {
  width: 100%;
  height: 20%;
  border: 1px solid #383838;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}
